@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&family=Karla:wght@300;400;700;800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Inter', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --app-background:#1C1C1C;
  --content-background:#1F2937;
  --dark-mode:#273549;
  --seafoam-green:#10B981;
  --light-seafoam-green:#4ADF86;
  --night:#273855;
  --medium-gray:#D5D4D8;
}

.white-text{
	color:#FFF;
}

.light-seafoam-text{
	color:var(--light-seafoam-green);
}

#--app-app-container{
  background-color:var(--app-background);
}

.--app-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin:10px 10px;
}

.--app-switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }

  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }

  .slider:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }

  input:checked + .slider {
	background-color: var(--dark-mode);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px var(--dark-mode);
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(10px);
	-ms-transform: translateX(10px);
	transform: translateX(10px);
  }

  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  #slider-text{
	color:whitesmoke;
	text-shadow:0 0 2px black;
  }

  #--app-content-container{
	width:320px;
	height:320px;
	padding:5px 5px;
	background-color:var(--content-background);
  }

#--content-title-first, #--content-title-second {
	font-family: 'Karla', sans-serif;
	font-size: 30px;
	font-weight: 800;	
}

#--content-tagline-text{
	font-size:20px;
	color:var(--medium-gray);
  }

  @media screen and (min-width:768px) {
	#--app-content-container{
		width:550px;
		height:550px;
		margin:0 auto;
	}
  }